 {% extends 'base-1.html' %}{% block title %}This is the home page{% endblock %}{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<section class="one">
    <h1>section 1</h1>
</section>
<div class="container">
    {% for post in object_list %}

    <div class="row">
        <div class="col-sm m-2">
            <div class="card" style="width: 22rem;">
                <img src="{{post.image.url}}" class="card-img-top" alt="..." width="300">
                <div class="card-body">
                    <h4>{{post.title}}</h4>
                    <small>{{post.date}}</small>
                </div>

                {{post.user}}

            </div>
        </div>

    </div>
    {% endfor %}

</div>










<img src="" alt="" height="500"> {% endblock %}