{% extends 'base.html' %}{% block title %} project details {% endblock %}{% block content %}
<section class="single-top-header">
    <div class="container text-center" style="height:700px ;display:flex; align-items:center; justify-content:center ; background-image:linear-gradient(rgba(9, 11, 36, 0.8), rgba(20, 4, 9, 0.8)),  url({{project.image.url}}); background-repeat: no-repeat; background-size: cover;">
        <div class=" row ">

            <div class="col ">
                <h3>{{project.title}}</h3>
                <h4> Designed by :{{project.user}}</h4>
                <a href="{{project.url}}">{{project.url}}</a>





            </div>
        </div>

    </div>


</section>



<div class="container">
    <h5 class="text-center mt-4">current votes </h5>
    {% for new_rates in rate %}
    <table class="table align-middle mb-0 bg-white mt-5">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Design</th>
                <th>Userbility</th>
                <th>Content</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{new_rate.rater}}</p>
                            <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1"></p>
                    <p class="text-muted mb-0">{{new_rate.design_rate}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1"></p>
                    <p class="text-muted mb-0">{{new_rate.userbility_rate}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1"></p>
                    <p class="text-muted mb-0">{{new_rate.content_rate}}</p>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Alex Ray</p>
                            <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">Consultant</p>
                    <p class="text-muted mb-0">Finance</p>
                </td>
                <td>
                    <span class="badge badge-primary rounded-pill d-inline">Onboarding</span
                >
            </td>
            <td>Junior</td>
            <td>
              <button
                      type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      data-mdb-ripple-color="dark"
                      >
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{project}}</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Designer</p>
              <p class="text-muted mb-0">UI/UX</p>
            </td>
            <td>
              <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                </td>
                <td>Senior</td>
                <td>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                Edit
              </button>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}


    <!-- modal trigger -->
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Vote</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vote</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="Design">Design</label>
                                <input type="number" class="form-control" name="design" min="0" max="10" value="0">
                            </div>
                            <div class="mb-3">
                                <label for="Usability">Usability</label>
                                <input type="number" class="form-control" name="usability" min="0" max="10" value="0">
                            </div>
                            <div class="mb-3">
                                <label for="Content">Content</label>
                                <input type="number" class="form-control" id="Content" min="0" max="10" value="0" name="content">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}