{% extends 'base.html' %}{% block title %}{% endblock %}{% block content %}
<div class="modal-body">
    <form action="{% url 'rate_project' project.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Design">Design</label>
            <input type="number" class="form-control" name="design" min="0" max="10" value="0">
        </div>
        <div class="mb-3">
            <label for="Usability">Usability</label>
            <input type="number" class="form-control" name="usability" min="0" max="10" value="0">
        </div>
        <div class="mb-3">
            <label for="Content">Content</label>
            <input type="number" class="form-control" id="Content" min="0" max="10" value="0" name="content">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>
{% endblock %}