* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    background-color: #F4F7F6;
}

#search {
    width: 120%;
}

h1 {
    color: red;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
    background-color: rgb(197, 35, 162);
    background-image: url('https://images.pexels.com/photos/8068678/pexels-photo-8068678.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    background-color: rgb(5, 8, 167);
}

.three {
    background-color: rgb(31, 218, 71);
}